/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
    --content-text: #F1B2CE;
    --accent-color: #FF0070;
    --title-decor: #000028;
    --color-title: #DB00FF;
    --decorated-zone: #FF0070;
    --menu: #FF0070;
    --fantom-element: #FF0070;
    --button-hover: rgba(255, 0, 112, 0.4);
    --bg-image: url('../images/cover-image-dark.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}