/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --content-text: #353430;
  --decorated-zone: #353430;
  --accent-color: #ff8dcb;
  --title-decor: #353430;
  --color-title: #ffc2e6;
  --menu: #353430;
  --fantom-element: transparent;
  --button-hover: rgba(50, 49, 45, 0.4);
  --bg-image: url('../images/cover-image-light.png');
  /*  без дублирования переменных не работает переключение тем */
}

@media (prefers-color-scheme: light) {
  :root {
    --content-text: #353430;
    --decorated-zone: #353430;
    --accent-color: #ff8dcb;
    --title-decor: #353430;
    --color-title: #ffc2e6;
    --menu: #353430;
    --fantom-element: transparent;
    --button-hover: rgba(50, 49, 45, 0.4);
    --bg-image: url('../images/cover-image-light.png');
  /*   медиа для автоматической определния темы установленной на компьютере */
  }
}
