/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  inline-size: 1024px;
  max-width: 100%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone);
  border-right: 1px solid var(--decorated-zone);
  right: 20px;
  top: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone);
  border-left: 1px solid var(--decorated-zone);
  bottom: 20px;
  left: 20px;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  height: 100vh;
  min-height: 668px;
  margin-bottom: 60px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.header__title {
  color: var(--color-title);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-family: var(--text-style);
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px var(--accent-color);
  align-self: flex-end;
  padding-bottom: 63px;
}

.header__text {
  color: var(--title-decor);
  background-color: var(--accent-color);
  font-family: var(--text-style);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  margin: 50px 20px auto 50%;
}

.header__fantom-element {
  color: var(--fantom-element);
  text-align: right;
  font-family: var(--text-style);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  position: absolute;
  top: 20px;
  right: 49px;
}

.header__fantom-element::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--fantom-element);
  border-radius: 50%;
  top: 8px;
  left: 43px;
  box-shadow: 0 0 4px 2px;
  text-transform: uppercase;
}

.header__theme-menu-button {
  color: var(--menu);
  text-transform: lowercase;
  border: none;
  font-family: var(--text-style);
  font-size: 18px;
  height: 26px;
  width: 70px;
  line-height: 18px;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu);
  pointer-events: none;
}

.section {
  padding: 0 20px 80px;
}

.why {
  display: flex;
  gap: 20px;
}

.block__title {
  color: var(--menu);
  font-family: var(--text-style);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  width: min(100%, 315px);
}

.why__content {
  display: grid;
  gap: 20px;
  width: min(100%, 649px);
}

.content__title {
  color: var(--title-decor);
  background-color: var(--accent-color);
  font-family: var(--text-style);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  width: 100%;
}

.content__text {
  color: var(--content-text);
  font-family: var(--text-style);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  margin-top: 10px;
  width: 100%;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  border: 1px solid var(--content-text);
}

.content__link:hover {
  border-bottom: 1px solid var(--content-text);
}

.what {
  display: grid;
  gap: 20px;
}

.what__block-title {
  color: var(--menu);
  font-family: var(--text-style);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  width: min(100%, 315px);
}

.what__content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 314px);
}

.how {
  display: flex;
  gap: 20px;
}

.how__content {
  display: grid;
  gap: 20px;
  width: min(100%, 649px);
}

.content__small-title {
  color: var(--title-decor);
  background-color: var(--accent-color);
  font-family: var(--text-style);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.pictures {
  margin: 0 20px 60px;
}

.pictures__content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 1fr, fit-content;
  max-width: 984px;
  margin-block-start: 20px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-column: span 2;
}

.music {
  grid-row: span 2;
}

.dessert {
  grid-row: span 2
}

.street {
  grid-column: span 2;
}

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--color-title);
  font-family: var(--text-style);
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 2px 2px var(--accent-color);
}

@media (width <= 1023px) {
  
  .header {
    margin-bottom: 60px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: end;
    padding-bottom: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
    margin: 0 20px 53px 0;
  }

  .header__title {
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-bottom: 0;
  }

  .header__text {
    margin-top: 2.3em;
  }

  .why__content {
    width: 100%;
  }

  .block__title {
    width: min(100%, 365px);
  }

  .what__block-title {
    width: 236px;
  }

  .what__content {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .how__content {
    width: 100%;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width <= 767px) {
  
  .header {
    margin-bottom: 40px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }
  
  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
  
  .header__theme-menu-list {
    margin: 0 10px 50px 0;
  }

  .header__title {
    margin-left: 10px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    margin-right: 10px;
    margin-left: calc(50% - 47%);
  }

  .header__fantom-element {
    top: 10px;
    right: 38px;
  }
  
  .header__fantom-element::after {
    top: 8px;
    left: 43px;
  }

  .section {
    padding: 0 10px 50px;
  }

  .block__title {
    width: 355px;
  }

  .why {
    flex-direction: column;
  }

  .what__block-title {
    width: 355px;
  }

  .how {
    flex-direction: column;
  }

  .pictures {
    margin: 0 10px 40px;
  }

  .pictures__content {
    gap: 10px;
    grid-template-columns: repeat(1, min(100%, 355px));
    grid-template-rows: repeat(auto-fill, min-content);
    margin-block-start: 10px;
  }
  
  .sunset {
    grid-column: span 1;
  }
  
  .music {
    grid-column: span 1;
  }
  
  .dessert {
    grid-column: span 1;
  }
  
  .street {
    grid-column: span 1;
  }

  .footer {
    min-height: 668px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}