/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1024px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 20px;
  top: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 20px;
  left: 20px;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  height: 768px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.fantome-element {
  color: var(--accent-color);
}

.header__title {
  color: var(--color-title);
}

.header__text {
  color: var(--title-decor);
}

.header__fantom-element {
  color: var(--accent-color);
  text-align: right;
  font-family: var(--text-style);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  position: absolute;
  top: 20px;
  right: 51px;
}

.header__fantom-element::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  top: 8px;
  left: 43px;
  box-shadow: 0 0 4px 2px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  text-transform: lowercase;
  border: none;
  font-family: var(--text-style);
  font-size: 18px;
  height: 26px;
  width: 70px;
  line-height: 18px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-family: 'IBM Plex mono', monospace;
  font-size: 157px;
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px var(--accent-color);
  padding-top: 68px;
}

.header__text {
  color: var(--color-text-fon);
  background-color: var(--accent-color);
  font-family: var(--text-style);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  margin-left: 50%;
  margin-right: 20px;
  height: 71px;
  margin-top: 50px;
}

@media (width <= 1023px) {

}

@media (width <= 767px) {

}