/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-text: #F1B2CE;
  --accent-color: #FF0070;
  --title-decor: #000028;
  --color-title: #DB00FF;
  --bg-image: url('/images/cover-image-dark.png');
  --text-style: 'IBM Plex mono', monospace;
}